<mat-card>
    <mat-card-content>
        <button mat-raised-button color="secondary" [routerLink]="'/query/new'">
            Compose New Query
        </button>
    </mat-card-content>
</mat-card>
<mat-card class="query-builder-input-wrapper" *ngIf="query">
    <mat-card-title>
        <span #titleSpan [attr.contenteditable]="editTitle">
            {{ query.name }}
        </span>
        <mat-icon *ngIf="!editTitle" (click)="editTitle = true;titleSpan.focus()">edit</mat-icon>
        <mat-icon *ngIf="editTitle" (click)="editTitle = false;">save</mat-icon>
    </mat-card-title>
    <div>
        <mat-select [formControl]="selectedQuery">
            <mat-option *ngFor="let query of queryList" [value]="query.id">
                {{query.name}}
            </mat-option>
        </mat-select>
    </div>
    <mat-card-content>
        <sqb-query-input [(ngModel)]="query.rawQuery"></sqb-query-input>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button mat-raised-button color="secondary" (click)="save()">
            Save
        </button>
        <button mat-raised-button color="primary" (click)="run()">
            Run
        </button>
    </mat-card-actions>
</mat-card>
<mat-card class="data-viewer" [ngClass]="{hide: !showTableView}">
    <mat-card-title>Table Data</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Search Text</mat-label>
            <input matInput [(ngModel)]="searchText" placeholder="Enter search text here" (input)="updateSearchText()">
        </mat-form-field>
        <ng-container #tableView></ng-container>
    </mat-card-content>
</mat-card>