<mat-card>
    <mat-card-title>
        Saved Query List
    </mat-card-title>
    <mat-card-content>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let query of queries" [routerLink]="['/query', query.id]">
                {{query.name }}
            </mat-list-option>
        </mat-selection-list>
        <div *ngIf="!queries?.length" class="no-results">
            No queries added yet
            <a routerLink="/query/new">Click here</a> to compose a new Query.
        </div>
    </mat-card-content>
</mat-card>