.query-controls {
    display: flex;
    justify-content: space-between;
}

.query-builder-input-wrapper {
    .mat-card-actions {
        display: flex;
        justify-content: flex-end;
    }
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}
